<!DOCTYPE <!DOCTYPE html>
<html>
<head>
	<title>Calculator</title>
</head>
<body>
   answer <%- answer %>
	<form>
  Num1:<br>
  <input type="text" name="num1" value=""><br>
  Num2:<br>
  <input type="text" name="num2" value=""><br><br>
  <input id = "op" type="submit" name = "op" value="sum">
  <input id = "op" type="submit" name = "op" value="sub">
  <input id = "op" type="submit" name = "op" value="mul">
  <input id = "op" type="submit" name = "op" value="div">
</form>
</body>

</html>